@import '../../../variables';

.post-page {
  align-items: flex-end;
  display: flex;
  flex-direction: column;

  width: 100%;

  @include breakpoint(md) {
    width: 70%;
    margin-top: 50px;
  }

  &__create {
    @include button-accent;
    flex: none;
    margin-bottom: 10px;
  }

  &__outer {
    @include breakpoint(md) {
      margin-top: 100px;
    }

  }

  &__header {
    @include main-header;
  }
}
