<article class="post">
  <div *ngIf="!busy && post" class="post__innner">
    <div class="post__header">
      <a *ngIf="link" [routerLink]="[link]" class="post__title">
        {{ post.title }}
      </a>
      <div *ngIf="!link" class="post__title">
        {{ post.title }}
      </div>
      <div *ngIf="post.user$ | async as author" (click)="selectAuthor(author)">
        <button class="post__author">{{ author.name }}</button></div>
    </div>
    <div class="post__body">
      {{ post.body }}
    </div>
  </div>
</article>
