@import '../../../_variables.scss';

.post {
  background-color: white;
  border-radius: 5px;
  color: $font-color;
  padding: 35px;
  min-height: 200px;

  &__header {
    border-bottom: 1px #7070703d solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  &__title {
    font-size: 30px;
    padding-bottom: 15px;
  }

  &__author {
    @include button-reset;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__body {
    font-size: 20px;
    font-weight: 300;
    white-space: pre-line;
  }
}
