$background-color: #012840;
$font-color: #707070;
$accent-color: #FFD933;

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin button-accent {
  @include button-reset;
  color: $accent-color;
  font-weight: 300;
}

@mixin main-header {
  color: $accent-color;
  font-size: 50px;
  font-weight: 100;
  margin: 0 0 20px 0;

  @include breakpoint(md) {
    font-size: 100px;
    margin: 0 0 50px 0;
  }
}

@mixin second-header {
  color: $accent-color;
  font-size: 40px;
  font-weight: 100;
  margin: 0 0 20px 0;

  @include breakpoint(md) {
    font-size: 70px;
    margin: 0 0 50px 0;
  }
}

// Simple responsive mixin that I stole from
// https://medium.com/developing-with-sass/creating-a-dead-simple-sass-mixin-to-handle-responsive-breakpoints-889927b37740
@mixin breakpoint($class) {
  @if $class==xs {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $class==sm {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $class==md {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $class==lg {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
