$background-color: #012840;
$font-color: #707070;
$accent-color: #FFD933;

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
