/* You can add global styles to this file, and also import other style files */
@import './variables';

html {
  background-color: $background-color;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

body {
  overflow: auto;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1 {
  @include main-header;
}

h2 {
  @include second-header;
}

h3 {
  @include third-header;
}
